html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.square-border {
  border-radius: 0px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 70px;
  background-color: #080808;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
body > .container {
  padding: 60px 15px 0;
}

.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}
